/.github
/.vscode
/.idea/
*.iml

# OS files
.DS_Store

# Build output
/easy-peasy-db/target/

# data
/studentdb*/

# generated sample data (use samples/student/gen_data.py to regenerate)
/samples/student/data.sql
